.jumbotron{
  border-radius: .25rem;
  background-color:#20315a;
}
.jumbotron .container h1.display-4{
  text-align: center;
  color:#FFF;
}
.well{
	margin-bottom: 15px;
	padding: 10px 0px 10px 5px;
	border: 2px solid grey;
	background-color: #F7F7F8;
}
